<ion-header>
  <ion-toolbar>
    <ion-title>Kiralık Araçların Listesi</ion-title>
  </ion-toolbar>
</ion-header>


<ion-searchbar></ion-searchbar>


  <ion-content padding>
    <ion-item class="text" *ngFor="let post of ((userInfos | async)?.kiralanacak_araclar)">
      <ion-label >
        <ion-text >
          <p>{{post.marka}} - {{post.model}} 
          {{post.yil}}  Model - {{post.kilometre}} km</p>
        </ion-text>
        <ion-button size="small" expand="block" shape="round" color="danger" (click)="kirala()">Kirala</ion-button>
      </ion-label>
    </ion-item>
  </ion-content>

<ion-footer no-shadow>
	<ion-toolbar position="bottom">
		<ion-button expand="block" shape="round" color="dark" (click)="anasayfayagit()">Anasayfa'ya Git</ion-button>
	</ion-toolbar>
</ion-footer>
