<ion-header>
  <ion-toolbar>
    <ion-title>Anasayfa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="block" shape="round" color="dark" (click)="satiliklar()">Satılık Araçlar</ion-button>
  <ion-button expand="block" shape="round" color="dark" (click)="kiraliklar()">Kiralık Araçlar</ion-button>
  <ion-button expand="block" shape="round" color="dark" (click)="aracekle()" > Araç Ekle</ion-button>
    


</ion-content>
<ion-footer no-shadow>
	<ion-toolbar position="bottom">
    <ion-button expand="block" shape="round" color="success" (click)="login()" > Giriş Yap</ion-button>
    <ion-button expand="block" shape="round" color="warning" (click)="kayit()" > Kayıt Ol</ion-button>
	</ion-toolbar>
</ion-footer>